<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="/css/mobile-css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="header">
			<img src="../mobile-img/icon-menu.png" class="icon-menu"/>
			<div class="font-logo">Yes we scan</div>
			<img src="../mobile-img/icon-back.png" class="icon-back"/>
		</div>
		<div class="containerFavoris">
			<div class="divcontainerFavoris">
				<div class="itemfav">
					Des panneaux solaires en antarticques. Bonne idée ?
					Des panneaux solaires en antarticques. Bonne idée ?
				</div>
				<div class="itemfav ">eeeeeeeeee</div>
				<div class="itemfav w4">
					Des panneaux solaires en antarticques. Bonne idée ?
				</div>
				<div class="itemfav">
					Des panneaux solaires en antarticques. Bonne idée ?
				</div>
				<div class="itemfav w3">
					Des panneaux solaires en antarticques. Bonne idée ?
				</div>
				<div class="itemfav ">
					Des panneaux solaires en antarticques. Bonne idée ?
				</div>
				<div class="itemfav ">
					kkkkkkkkkkkkkkkkk
					zzzzzzzzzzzzzzzzzzzzzzzzzzz
				</div>
				<div class="itemfav w2">
					Sondage #54 de Cyril
				</div>
				<div class="itemfav w3">
					aaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaa
					aaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaa
				</div>
				<div class="itemfav">
					zzzzzzzzzzzzzzzzzzzzzzzzzzz
					zzzzzzzzzzzz zzzzzzzzzzzzzzz
					zzzzzzzzzzzzzzzzz zzzzzzzzzz
					zzzzzz zzzzzzzzzzzzzzzzzzzzz
					zzzzzzzzzzzzzz
				</div>
				<div class="itemfav ">
					Des panneaux solaires en antarticques. Bonne idée ?
				</div>
			</div>
		</div>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript" src="http://masonry.desandro.com/masonry.pkgd.js"></script>
		<script type="text/javascript">
			$(function(){
				$('.containerFavoris').masonry({
					itemSelector: '.itemfav',
					columnWidth: 20,
					isResizable: true
				});
			});
        </script>
	</body>
</html>