<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="/css/web-css/style.css">
	</head>
	<body>
		<div class="header header-inscription">
			<div class="font-logo"><a href="/">Yes we scan</a></div>
			<nav>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/recherche">Rechercher</a></li>
                    <li class="selected">S'inscrire</a></li>
                    <li><a href="/connexion">Se connecter</a></li>
                </ul>
			</nav>
		</div>
		<div class="empty"></div>
		<div class="create-survey content-inscription">
			<div class="title-page">
				<div class="div-title-page">
					<span>Création de compte</span>
				</div>
			</div>
			<div class="inscription">
				<div class="sentences-inscription">
					<div class="div-sentences-inscription">
						<span>Parce que votre opinion compte</span><br/>
						Interroger ses concitoyens en toute efficacité
					</div>
				</div>
				<div class="formulaire">
					<div class="div-formulaire">
						<form>
							<div class="col">
								<label>utilisateur (obligatoire)</label><br/>
								<input type="text"/><br/><br/>
								<label>email (obligatoire)</label><br/>
								<input type="text"/><br/><br/>
								<input type="submit" value="valider"/>
							</div>
							<div class="col vide"></div>
							<div class="col">
								<label>mot de passe (obligatoire)</label><br/>
								<input type="text"/><br/><br/>
								<label>Vous êtes (facultatif)</label><br/>
								<input type="text"/><br/><br/>
							</div>
							<div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="footer ">
			<div class="networking">
				<div>
					<span>Suivre nous</span>
				</div>
				<a href="#"><div class="circle">f</div><a>
				<a href="#"><div class="circle">t</div><a>
			</div>
			<div class="copyright">
				@ Copyright 2014 Yes We Scan
			</div>
		</div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
        <script src="http://localhost:8080/socket.io/socket.io.js"></script>
        <script src="/js/client.js"></script>
	</body>
</html>