body {
	height:100%;
	background-image: url(Images/content.png);
	background-repeat: repeat-x;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: bold;
	color: #036;
}


#header {
	background-image: url(Images/header.png);
	background-repeat: repeat-x;
	height: 100px;
	width: 964px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	margin-top: -10px;
}

#main li{
	display: inline;
}

#main {
	width:60%;
}

